.cust-editor__win {
  overflow: visible;
  position: relative;
  margin: 30px auto;
  width: 800px;
  min-height: 150px;
  z-index: 0;
}

.cust-editor__container {
  position: absolute;
  overflow: auto;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #535b62;
  box-sizing: border-box;
  border: 1px solid #808080;
  padding: 10px 15px;
  text-align: left;
  border-radius: 4px;
}

.cust-editor__win, .cust-editor__win * {
  box-sizing: border-box;
}

.cust-editor__text-area {
  background: none;
  border: none;
  /* color: transparent; */
  line-height: 25px !important;   /* This is important, syncs the cursor between Pre and Text-Area */
  z-index: 3;
  resize: none;
  -webkit-appearance: pre;
  caret-color: #111;
  width: 100%;
  height: 100%;
}

.cust-editor__pre {
  pointer-events: none;
  z-index: 5;
  overflow: hidden;
  line-height: 24px !important;   /* This is important, syncs the cursor between Pre and Text-Area */
}

.cust-editor__code {
  display: block;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  overflow: hidden;
}

.cust-editor__flatten {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 10px;
  font-size: 21px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  margin: 0 !important;
  outline: none;
  text-align: left;
}

.cust-editor__wrap {
  white-space: pre-wrap; /* This is important, to wrap code and whitespace */
  word-wrap: break-word;
}

.cust-editor__drop-down {
  position: absolute;
  max-width: 420px;
  border-radius: 4px;
  max-height: 300px;
  overflow-y: scroll;
  font-family: monospace;
  background: #ffffff;
  border: solid 1px #d1d1d1;
  z-index: 7;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 8px;
}

.cust-editor__drop-down ul li {
  padding: 8px 16px;
  border-radius: 4px;
  margin: 4px 0px;
  font-size: 15px;
  font-weight: 500;
  color: #535b62;
  cursor: pointer;
}

.cust-editor__drop-down li.selected {
  font-weight: 600;
  background-color: rgb(249, 250, 251);
  color: #1f7ae0;
}

.cust-editor__win .token {
  display: inline-block;
}

.cust-editor__win .token.punctuation {
  color: #535b62;
  border-bottom: 1px solid  transparent;  /* Important to keep the cursor sync between text-area and pre */
}

.cust-editor__win .token.keyword {
  color: #19af55;
  border-bottom: 1px solid  transparent;  /* Important to keep the cursor sync between text-area and pre */
}

.cust-editor__win .token.operator {
  color: #1f7ae0;
  border-bottom: 1px solid  transparent;  /* Important to keep the cursor sync between text-area and pre */
}

.cust-editor__win .token.number {
  color: #535b62;
  border-bottom: 1px solid  transparent;  /* Important to keep the cursor sync between text-area and pre */
}

.cust-editor__win .token.error {
  color: #ef4f5d;
  border-bottom: 1px solid  #ff5942;
}

.cust-editor__win .token.active {
  border-bottom: 1px solid  #1f7ae0;
}
